/*-- scss:defaults --*/

// Navbar colors 
$navbar-bg: #111111;
$navbar-fg: #D3D3D3;
$navbar-hl: white;

// Base document colors
$body-bg: #333333;
$body-color: #D3D3D3;
$link-color: #D2B48C;

// Code blocks
$code-block-bg-alpha: -.8;